################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/github.com/
/golang.org/
/gopkg.in/